<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Funzo</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/images/logo.jpg" type="image/jpg">
  </head>
  <body>
      <section class="feature">
      <div class="row">
       <div class="box">
           <img alt="logo" class="logo" src="../static/images/logo.jpg">
            <p class="company">Funzo<p> 
          </div>
      </div>
      </section>
    </body>