<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Funzo</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/images/logo.jpg" type="image/jpg">
  </head>
  <body>
      <section class="feature">
    
      <div class="row">
       <div class="box">
           <img alt="logo" class="logo" src="../static/images/logo.jpg">
            <p class="company">Funzo<p>
         
           <div class="row ">
            <div class="col span-1-of-4">
                <form class="hangman">
                <div class="game-box">
                    <div class="background">
                        <img alt="hangman" class="hangman_logo" src="../static/images/hangman.png">
                    </div>
                        <p>Your goal is to guess the word to save the player from the hungry monster. Fill in the blanks by guessing one letter at a time to see if it’s in the word. Click on the letter to guess it.</p>
                        <input type="submit" name="button" value='Play' class="button" >
    
                </div>
                </form>
            </div>
            <div class="col span-1-of-4">
                <form>
                <div class="game-box">
                    <div class="background">
                        <img alt="pingpong" class="pingpong_logo" src="../static/images/pingpong.png">
                    </div>
                        <p>Ping Pong is a "tennis like" game features two paddles and a ball.Ping Pong is a Classic Arcade Game with  funny sounds effects, Use up and down arrow to move the racket.</p>
                        <input type="submit" name="button" value='Play' class="button" >
                    
                </div>
                </form>
            </div>
            <div class="col span-1-of-4">
                <form>
                <div class="game-box">
                    <div class="background">
                        <img alt="tictactoe" class="tictactoe_logo" src="../static/images/tic_tac_toe.jpg">
                    </div>
                        <p>Your goal is to guess the word to save the player from the hungry monster. Fill in the blanks by guessing one letter at a time to see if it’s in the word. Click on the letter to guess it.</p>
                        <input type="submit" name="button" value='Play' class="button" >
                    
                </div>
                </form>
            </div>
        </div>
          </div>
      </div>
          
      </section>
    </body>